@page
@model BAIS3150_ABC_Hardware_Final.Pages.IndexModel
@{
}

@section mainContent {
    <h1>ABC Hardware</h1>
    <p>Welcome to ABC Hardware.</p>
    <p>Use the links in the navigation bar at the top of the page to interact with the ABC Hardware system.</p>
}

